<template>
  <main class="add-product">
    <div class="container">
      <form v-if="!loading" id="product_form">
        <div class="field">
          <label for="sku">SKU</label>
          <div class="form-input">
            <input
              type="text"
              id="sku"
              placeholder="Dashes will be added automatically"
              required
              v-model="product.sku"
              @input="dashSku()"
              maxlength="14"
            />
            <div v-if="errors.sku" class="errors">
              <small>{{ errors.sku }}</small>
            </div>
          </div>
        </div>

        <div class="field">
          <label for="name">Name</label>
          <div class="form-input">
            <input
              type="text"
              v-model="product.name"
              id="name"
              required
              placeholder="Add product name"
            />
            <div v-if="errors.name" class="errors">
              <small>{{ errors.name }}</small>
            </div>
          </div>
        </div>

        <div class="field">
          <label for="price">Price ($)</label>
          <div class="form-input">
            <input
              type="text"
              v-model="product.price"
              id="price"
              placeholder="Add product price"
              required
            />
            <div v-if="errors.price" class="errors">
              <small>{{ errors.price }}</small>
            </div>
          </div>
        </div>

        <div class="field">
          <label>Type Switcher</label>
          <div class="form-input">
            <select
              @change="addAttributes()"
              v-model="product.type"
              id="productType"
              required
            >
              <option value="" selected>Type Switcher</option>
              <option v-for="type in types" :key="type.id" :value="type.id">
                <p>{{ capitalize(type.name) }}</p>
              </option>
            </select>
            <div v-if="errors.type" class="errors">
              <small>{{ errors.type }}</small>
            </div>
          </div>
        </div>

        <div v-show="showFields" class="attributes">
          <div
            v-for="attribute in typeAttributes"
            :key="attribute.id"
            class="field"
          >
            <label :for="attribute.name"
              >{{ capitalize(attribute.name) }} ({{
                capitalize(attribute.unit)
              }})
            </label>
            <div class="form-input">
              <input
                type="text"
                v-model="product[attribute.name]"
                :id="attribute.name"
                required
                :placeholder="`Add ${this.capitalize(
                  attribute.name
                )} in ${capitalize(attribute.unit)}`"
              />
              <div v-if="errors[attribute.name]" class="errors">
                <small>{{ errors[attribute.name] }}</small>
              </div>
            </div>
          </div>
          <div class="type-description">
            <p>{{ this.typeDescription }}</p>
          </div>
        </div>
      </form>
      <div v-else class="loading">
        <div class="lds-ring">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import axios from "axios";

export default {
  name: "ProductForm",
  data() {
    return {
      types: [],
      typeAttributes: [],
      typeDescription: "",
      showFields: false,
      errors: {},
      loading: true,
      product: {
        sku: "",
        name: "",
        price: "",
        type: "",
      },
    };
  },
  mounted() {
    axios
      .get("/api/types")
      .then((response) => {
        this.types = response.data;
        this.loading = false;
      })
      .catch((error) => console.log(error.message));
  },
  methods: {
    dashSku() {
      if (
        !/^[a-zA-Z0-9\-]*$/g.test(this.product.sku) ||
        this.product.sku.charAt(0) === "-"
      ) {
        this.product.sku = "";
      }
      if (this.product.sku.trim() != "") {
        this.product.sku = this.product.sku
          .split("-")
          .join("")
          .match(/.{1,4}/g)
          .join("-")
          .toUpperCase()
          .trim();
      }
    },
    capitalize(word) {
      if (word.length < 4) {
        return word.toUpperCase();
      }
      return word.charAt(0).toUpperCase() + word.slice(1);
    },
    addAttributes() {
      this.product = {
        sku: this.product.sku,
        name: this.product.name,
        price: this.product.price,
        type: this.product.type,
      };
      let id = this.product.type;
      if (id != "") {
        let type = this.types.filter((type) => {
          return type.id == id;
        });
        this.typeAttributes = type[0].attributes;
        this.typeDescription = type[0].description;
        for (const attribute in this.typeAttributes) {
          this.product[this.typeAttributes[attribute].name] = "";
        }
        this.showFields = true;
      } else {
        this.showFields = false;
      }
    },

    // comment this method to test the server side validation
    validateForm() {
      // clearing the errors object
      this.errors = {};
      // validating sku
      if (!this.product.sku.trim()) {
        this.errors.sku = "SKU can't be blank";
      } else if (this.product.sku.trim().length < 10) {
        this.errors.sku = "SKU must be at least 10 charcters";
      }
      // // validating name
      if (!this.product.name.trim()) {
        this.errors.name = "Name can't be blank";
      } else if (!isNaN(this.product.name.trim())) {
        this.errors.name = "Name can't be numbers only";
      } else if (this.product.name.trim().length < 2) {
        this.errors.name = "Name can't less than two characters";
      }
      // // validating price
      if (!this.product.price.trim()) {
        this.errors.price = "Price can't be blank";
      } else if (isNaN(this.product.price.trim())) {
        this.errors.price = "Price must be numbers only";
      }
      // //validating type
      if (!this.product.type) {
        this.errors.type = "You have to choose a type";
      }
      // // validating special attributes
      for (const attribute in this.typeAttributes) {
        let attributeName = this.typeAttributes[attribute].name;
        // making sure the user chose a type first
        if (this.product.type) {
          if (!this.product[attributeName].trim()) {
            this.errors[attributeName] = `${attributeName} can't be blank`;
          } else if (isNaN(this.product[attributeName].trim())) {
            this.errors[
              attributeName
            ] = `${attributeName} must be numbers only`;
          }
        }
      }
    },
    addProduct() {
      this.validateForm();
      if (Object.keys(this.errors).length === 0) {
        // submit to api
        axios
          .post("/api/products", {
            product: this.product,
          })
          .then(() => {
            this.loading = true;
            this.$router.push("/");
          })
          .catch((error) => {
            console.log(error);
            this.errors = error.response.data;
          });
      }
    },
  },
};
</script>

<style lang="scss">
@import "../assets/_variables.scss";
// TODO:: make the form responsive
.add-product {
  //   font-family: "Barlow";
  margin: 30px 0;
  form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-color: #e4e4e7;
    max-width: 800px;
    filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03))
      drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
    .field {
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: baseline;
      justify-content: center;
      label {
        min-width: 120px;
      }
      .form-input {
        width: 100%;
        padding-bottom: 20px;
        margin-bottom: 20px;
        text-align: center;
      }

      select,
      input {
        width: 75%;
        margin: 10px 0;
        font-size: 14px;
        text-align: center;
        background-color: $bg-color;
        border: 1px solid $border-color;
        border-radius: 2px;
        padding: 10px 20px;
        outline: none;
      }

      input:focus {
        filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03))
          drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
      }
      .attributes {
        display: flex;
        flex-direction: column;
      }
    }

    .errors {
      color: $danger-color;
      text-transform: capitalize;
      width: 75%;
      margin: 0 auto;
      position: relative;
      small {
        position: absolute;
        left: 0;
      }
    }

    .type-description {
      display: block;
      margin-top: 20px;
      margin-left: 120px;
      font-family: "Barlow", sans-serif;
      font-size: 18px;
      text-align: center;
      text-transform: capitalize;
    }
    @media screen and (min-width: 700px) {
      .field {
        flex-direction: row;
      }
    }
  }
}

// styling for the loading icon from loading.io
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #111827;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #111827 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>
