<template>
  <Header>
    <template v-slot:logo>
      <h1>Product List</h1>
    </template>
    <template v-slot:links>
      <div class="links home-links">
        <router-link :to="{ name: 'AddProduct' }">
          <button class="success">ADD</button>
        </router-link>
        <button
          class="danger"
          id="delete-product-btn"
          @click="deleteProducts()"
        >
          MASS DELETE
        </button>
      </div>
    </template>
  </Header>

  <main class="product-list">
    <div v-if="!products" class="loading">
      <div class="lds-ring">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <div v-else-if="this.products.length == 0" class="message">
      No products added yet,<br />
      Try adding some.
    </div>
    <div v-else class="container">
      <ProductCard
        class="product-list-item"
        v-for="product in products"
        :key="product.id"
        :product="product"
        @delete="deleteProduct"
      />
    </div>
  </main>
</template>

<script>
import ProductCard from "./ProductCard.vue";
import Header from "./layout/Header.vue";
import axios from "axios";

export default {
  name: "ProductList",
  components: {
    ProductCard,
    Header,
  },
  data() {
    return {
      products: null,
      message: null,
      deletedProducts: [],
    };
  },
  mounted() {
    axios
      .get("/api/products")
      .then((response) => {
        if (Array.isArray(response.data)) {
          this.products = response.data;
        } else {
          this.products = [];
          this.message = response.data;
        }
      })
      .catch((error) => (this.message = error.message));
  },
  methods: {
    deleteProduct(id) {
      let index = this.deletedProducts.indexOf(id);
      if (index > -1) {
        this.deletedProducts.splice(index, 1);
        console.log("I'M OUT BABY!");
      } else {
        this.deletedProducts.push(id);
        console.log("WHY ME?!");
      }
    },
    deleteProducts() {
      this.products = this.products.filter((product) => {
        return !this.deletedProducts.includes(product.id);
      });
      if (this.deletedProducts.length > 0) {
        axios
          .post("/api/products/delete", this.deletedProducts)
          .then((response) => console.log(response.data))
          .catch((error) => console.log(error));
        this.deletedProducts = [];
      }
    },
  },
};
</script>

<style lang="scss">
.product-list {
  margin: 30px 0;
  .container {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    row-gap: 50px;
    column-gap: 50px;
  }
  @media screen and (min-width: 650px) {
    .container {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
  @media screen and (min-width: 900px) {
    .container {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
  @media screen and (min-width: 1200px) {
    .container {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }
  @media screen and (min-width: 1600px) {
    .container {
      grid-template-columns: repeat(5, minmax(0, 350px));
    }
  }
}

.loading {
  width: fit-content;
  margin: 0 auto;
  margin-top: 200px;
}

.message {
  margin: 0 auto;
  width: fit-content;
  font-size: 3rem;
  margin-top: 200px;
  text-align: center;
  line-height: 1.5;
}

// styling for the loading icon from loading.io
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #111827;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #111827 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>
