<template>
  <article class="product">
    <div class="checkbox">
      <input
        class="delete-checkbox"
        type="checkbox"
        @click="deleteProduct(product.id)"
      />
    </div>
    <div class="product-info">
      <p class="sku">{{ product.sku }}</p>
      <p class="name">{{ product.name }}</p>
      <p class="price">{{ product.price }}$</p>
      <p>{{ attribute }}: {{ value }} {{ unit }}</p>
    </div>
  </article>
</template>

<script>
export default {
  name: "ProductCard",
  props: ["product"],
  methods: {
    deleteProduct(id) {
      this.$emit("delete", id);
    },
  },
  computed: {
    attribute() {
      if (this.product.attributes.length > 1) {
        return "deminsions";
      } else {
        return this.product.attributes[0].name;
      }
    },
    value() {
      if (this.product.values.length > 1) {
        let value = [];
        for (const attribute in this.product.attributes) {
          value.push(Object.values(this.product.values[attribute]));
        }
        return value.join("x");
      } else {
        return Object.values(this.product.values[0])[0];
      }
    },
    unit() {
      if (this.product.attributes.length > 1) {
        return "";
      } else {
        return this.product.attributes[0].unit.toUpperCase();
      }
    },
  },
};
</script>

<style lang="scss">
@import "../assets/_variables.scss";
.product {
  background-color: #e4e4e7;
  position: relative;
  font-size: 18px;
  border: 1px solid $border-color;
  display: flex;
  flex-direction: column;
  .product-info {
    padding: 50px 20px;
    text-align: center;
    p {
      text-transform: capitalize;
      margin: 10px 0;
    }
    .name,
    .price {
      font-weight: bold;
      font-size: 24px;
    }
  }
  .checkbox {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 999;
    .delete-checkbox {
      accent-color: $danger-color;
    }
  }
}
.product:hover {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03))
    drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
}
</style>
