<template>
  <footer>
    <div class="container">
      <p>
        Scandiweb Test Assignment Made With <span>♥</span> By Ahmed A. Baiomy
      </p>
    </div>
  </footer>
</template>

<script>
export default { name: "Footer" };
</script>

<style lang="scss">
@import "../../assets/_variables.scss";
footer {
  border-top: 1px solid $border-color;
  text-align: center;
  padding-bottom: 10px;
  span {
    color: $danger-color;
    font-size: 18px;
  }
}
</style>
