<template>
  <nav class="header">
    <div class="container">
      <div class="logo">
        <slot name="logo"></slot>
      </div>
      <slot name="links"></slot>
    </div>
  </nav>
</template>

<script>
export default { name: "Header" };
</script>

<style lang="scss">
@import "../../assets/_variables.scss";
.header {
  border-bottom: 1px solid $border-color;
  background-color: $bg-color;
  padding: 10px 0;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    font-size: 24px;
    h1 {
      font-family: "Fraunces", sans-serif;
    }
  }

  .links {
    button {
      font-family: "Barlow", sans-serif;
      font-size: 16px;
      border: 1px solid $border-color;
      border-radius: 4px;
      padding: 10px 20px;
      margin-left: 15px;
      cursor: pointer;
    }
    .success:hover {
      color: $success-color;
    }

    .danger:hover {
      color: $danger-color;
    }
  }
}
</style>
