<template>
  <router-view />
</template>

<style lang="scss">
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600;900&family=Fraunces:wght@700;900&display=swap");
@import "assets/_variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  background-color: $bg-color;
  font-family: "Barlow", sans-serif;
}

.container {
  max-width: 97%;
  margin: 0 auto;
  padding: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

#app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  color: $text-color;
}
</style>
