<template>
  <Header>
    <template v-slot:logo>
      <h1>Product Add</h1>
    </template>
    <template v-slot:links>
      <div class="links add-links">
        <button type="submit" @click="submitProduct()" class="success">
          Save
        </button>
        <router-link :to="{ name: 'Home' }">
          <button class="danger">Cancel</button>
        </router-link>
      </div>
    </template>
  </Header>
  <ProductForm ref="form" />
  <Footer />
</template>

<script>
import ProductForm from "../components/ProductForm.vue";
import Header from "../components/layout/Header.vue";
import Footer from "../components/layout/Footer.vue";

export default {
  name: "AddProduct",
  components: {
    ProductForm,
    Header,
    Footer,
  },
  methods: {
    submitProduct() {
      this.$refs.form.addProduct();
    },
  },
};
</script>

<style></style>
