<template>
  <ProductList />
  <Footer />
</template>

<script>
import ProductList from "../components/ProductList.vue";
import Footer from "../components/layout/Footer.vue";

export default {
  name: "Home",
  components: {
    ProductList,
    Footer,
  },
};
</script>
